<title>ACME Corporation Directory Listing Service</title>

<h1>ACME Corporation Directory Listing Service</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<h2>ATTENTION</h2>
<ul>
    {% for message in messages %}
    <li>{{ message[1] }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<form action="" method="post">
    <div class="input text"> {{ form.directory.label }} {{ form.directory }} </div>
    <div class="input submit">
    <input type="submit" value="Submit"></div>
</form>

{% if result %}
<h2>Results for Directory: {{ dirname }}</h2>
<p style="font-family:monospace">
    {{ result | safe }}
</p>
{% endif %}
